body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

#base {
    background-color: #4c4c4c;
}

#nav {
    background-color: #828282;
    width: 100%;
    min-width: 600px;
    overflow: hidden;
}

#nav a {
    float: left;
    border-style: none none solid none;
    border-color: #828282;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

#nav a:hover {
    background-color: #a0a0a0;
}

#nav #current {
    background-color: #ff69b4;
}

h1 {
    text-align: center;
    font-size: 400%;
    color: #ff69b4;
}

h2 {
    text-align: center;
    font-size: 200%
}

img {
    float: left;
    width: 42.5%;
    margin-left: 5%;
    margin-right: 2.5%;
}

main {
    width: 50%;
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
}

main p {
    text-align: justify;
}

#foot {
    width: 100%;
    min-width: 600px;
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
}

#footdiv {
    padding: 10px;
}

#shortfoot {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 600px;
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
}

.mail {
    text-align: center;
}